

@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Product>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Products</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <a class="btn btn-success" asp-area="Manage" asp-controller="Product" asp-action="Create">Add</a>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Cost Price</th>
                            <th>Sell Price</th>
                            <th>Discount</th>
                            <th>Sizes</th>
                            <th>Colors</th>
                            <th>Categories</th>
                            <th>Cover Image</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

